body {
  background-color: #eeeeee;
  font-family: Helvetica;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
}

.logo,
nav {
  background-color: lightblue;
  height: 100px;
  width: 50%;
  padding: 10px 0;
}

.banner {
  background-color: #dddddd;
  height: 200px;
}

main {
  color: navy;
  margin: 50px;
  height: 400px;
}

footer {
  text-align: right;
  background-color: lightblue;
  padding: 10px;
}

button {
  background-color: lightblue;
  color: navy;
}

nav a {
  color: navy;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

nav a:hover {
  border: 1px solid navy;
}
